@{
    ViewData [ "Title" ] = "View Menu";
}

<h2>ViewMenu</h2>

<ul>
    @foreach ( var item in Model.Items )
    {
        <li>@item.Cheese.Name</li>

    }
</ul>

@if ( Model.Items.Count == 0 )
{
    <p>No cheeses yet!</p>

}

<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item to Menu</a></p>
